.user-details {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
}

.card-holder {
    min-width: 270px;
    width: 75%;
}

.avatar {
    width: 150px;
    height: 150px;
    margin-top: -75px;
    border: 4px solid #2260ff;
}

.personal-data {
    min-width: 270px;
}

.personal-data .email {
    min-width: 270px;
}
.back-btn {
    width: 175px;
    font-size: 21px;
}