  .card {
    overflow: auto;
  }

  .w-12 {
    width: 12%;
    min-width: 75px;
  }

  .w-33 {
    width: 33%;
    min-width: 130px;
  }

  .w-55 {
    width: 55%;
    min-width: 210px;
  }

  .tbody.list-group-item:hover {
    color: #FFF;
    background-color: #DDD;

  }

  main img {
    width: 270px;
}
  .no-data {
    width: 100%;
    max-width: 420px;
    margin-top: -42px;
  }